/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 14, 2016, 9:42:33 AM
    Author     : Himantha
*/

/*#Status{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
    border-radius: 0;
}*/

#Status_Traffic{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    /*z-index: -1;*/
    border-radius: 0;
    min-height: 600px;
    min-width: 1140px;      
}

#Resources{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    /*z-index: -1;*/
    border-radius: 0;
}

#Status_Notifications{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    /*z-index: -1;*/
    border-radius: 0;
    min-height: 600px;
    min-width: 1140px;      
}


